body{
    background-image:url("background.jpg");
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.lien{
    color:blanchedalmond;
    text-align: right;
    font-family: fantasy;
}
.photo1{
    border-radius: 5%;
    width: 250px;
    margin-left: 10px;
    margin-bottom: 10px;
    max-height: 150px;
    border:2px solid white;
}
.photozone{
    display:block;
    width: 100%;
    height:100%;
}
.photo2{
    border-radius: 5%;
    width: 125px;
    margin-left: 10px;
    margin-bottom: 10px;
    max-height: 150px;
    border:2px solid white;
}
.titre{
    color:blanchedalmond;
    font-family: fantasy;

}

